<nav class="navbar navbar-default navbar-expand-lg" role="navigation">
    <a class="navbar-brand" href="#"><span>รายงานน้ำฝน</span> </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">หน้าแรก</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/report']" routerLinkActive="router-link-active">รายงาน</a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/satmeteo']"
                    routerLinkActive="router-link-active">ดาวเทียมตรวจอากาศ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/hotspot']"
                    routerLinkActive="router-link-active">ไฟป่าและหมอกควัน</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">เกี่ยวกับเรา</a>
            </li> -->
        </ul>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->