<div class="row">
    <div class="col-sm-12">
        <div class="tile">
            <div id="map">
            </div>
        </div>
    </div>
</div>

<form [formGroup]="rainForm" novalidate>
    <div class="login-form">
        <div class="form-group">
            <input type="number" class="form-control login-field" placeholder="ปริมาณน้ำฝน" id="rain"
                formControlName="rain" />
            <label class="login-field-icon fui-new" for="rain"></label>
        </div>

        <div class="form-group">
            <input type="text" class="form-control login-field" placeholder="ผู้รายงาน" id="reportor"
                formControlName="reporter" />
            <label class="login-field-icon fui-user" for="reporter"></label>
        </div>

        <div class="form-group">
            <input type="file" capture="camera" accept="image/*" id="images" formControlName="images"
                (change)="onSelect($event)">
            <label class="login-field-icon fui-photo" for="cameraInput"></label>
        </div>

        <!-- <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                [style.width]="(uploadProgress | async) + '%'" [attr.aria-valuenow]="(uploadProgress | async)"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->

        <button class="btn btn-primary btn-lg btn-block" type="submit"
            [disabled]="rainForm.pristine || rainForm.invalid" class="btn btn-success" (click)="onSubmit()">
            Save
        </button>
        <p></p>
        <!-- <div *ngIf="item === 'somevalue'"></div> -->
        <progress max="100" [value]="(uploadProgress | async)"></progress>
        {{ uploadProgress | async | number: '1.0-0' }}% Complete

        <!-- <a class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="angForm.pristine || angForm.invalid">Log
            in</a> -->
        <!-- <a class="login-link" href="#">Lost your password?</a> -->
    </div>
</form>